body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.report-wrap {
    margin: 20px auto;
    padding: 20px 30px;
    box-shadow: -6px 6px 20px rgba(10, 20, 30, 0.4);
}

.report {
    float: left;
    width: 600px;
    margin: auto;
    padding: 20px 0;
    box-shadow: -7px 0px 16px rgba(10, 20, 30, 0.5);
}

.report-inner {
    text-align: center;
}

.report-location {
    color: #0099CC;
}

.report-map {
    float: right;
    width: 420px;
}

.map {
    text-align: center;
}

.report-foot {
    clear: both;
}
