{% extends "trackings_basic.html" %}

{% block base_url %} <base href="{{ base_url }}" /> {% endblock %}
{% block title %} Tracking {{ tracking.id }} {% endblock %}

{% block container %}
<div class="report-wrap">
    {% if user.is_authenticated %}
    <div class="report-edit">
        <form action="{% url tracking:fix tracking.id %}" method="post" id="fixForm">
            {% csrf_token %}
            {% if tracking.fixed %}
                <input type="checkbox" name="fixed" checked="checked">
            {% else %}
                <input type="checkbox" name="fixed">
            {% endif %}
            Mark it as fixed, yup!
            <input type="submit" value="Save" class="btn">
        </form>
    </div>
    {% endif %}

    <div class="report">
        <div class="report-inner">
        <h2>{{ tracking.description }}</h2>
        {% if tracking.fixed %}
            <span>&#10003</span>
        {% else %}
            <span>&#10007</span>
        {% endif %}
        <div class="report-location">
            <p><span>{{ tracking.location }}</span></p>
        </div>
        <img src="{{ STATIC_URL }}{{ tracking.photo }}" />
    </div>
    </div>
    <div class="report-map">
        <div class="map">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=20&size=400x400&sensor=false">
        </div>
    </div>
    <div class="report-foot">
        <p>
            <a href="{% url tracking:index %}"> All trackings </a>
        </p>
    </div>
    </div>
{% endblock %}
