{% extends "trackings_basic.html" %}

{% block title %} New tracking {% endblock %}

{% block container %}
<h1> New Tracking </h1>
<div class="hero-unit">
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form enctype="multipart/form-data" action="/trackings/new/" method="post">
    {% csrf_token %}
    {{ tracking_form.as_p }}
    {{ photo_form.as_p }}
    <input class="btn" id="add_photo" type="button" value="Add another photo" />
    <input class="btn" type="submit" value="Submit" />
</form>
</div>
{% endblock %}
