{% extends "trackings_basic.html" %}
{% block base_url %} <base href="{{ base_url }}" /> {% endblock %}
{% block title %} Tracking {{ tracking.id }} {% endblock %}

{% load staticfiles %}
{% block container %}
<div class="report-wrap">
    {% comment %}
    {% if user.is_authenticated %}
    <div class="report-edit">
        <form action="{% url tracking:fix tracking.id %}" method="post" id="fixForm">
            {% csrf_token %}
            {% if tracking.fixed %}
                <input type="checkbox" name="fixed" checked="checked">
            {% else %}
                <input type="checkbox" name="fixed">
            {% endif %}
            Mark it as fixed, yup!
            <input type="submit" value="Save" class="btn">
        </form>
    </div>
    {% endif %}
    {% endcomment %}
    <div class="report">
        <div class="report-inner">
        <h2>{{ tracking.description }}</h2>
        {% if tracking.fixed %}
            <span>&#10003</span>
        {% else %}
            <span>&#10007</span>
        {% endif %}
        <div class="report-location">
            <p><span>{{ tracking.location }}</span></p>
        </div>
        {% for photo in tracking.photo_set.all %}
        <img src="{{ photo.photo.url }}" />
        {% endfor %}
    </div>
    </div>
    <div id="report-map">
        <div id="map-canvas" class="map">
        </div>
    </div>
    <div class="report-foot">
        <p>
            <a href="{% url tracking:index %}"> All trackings </a>
        </p>
    </div>
    </div>

	<div id="application">
		<h1>Public Tracking</h1>
		<div id="issueTable"></div>
		<div id="detailedIssue">
		</div>
	</div>
	<script id="issueTableTemplate" type="text/template">
		<table cellspacing="0">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Time</th>
					<th scope="col">Location</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</script>
	<script id="issueRowTemplate" type="text/template">
		<td><%= title %></td>
		<td><%= time %></td>
		<td><%= location.coarseLocation %></td>
	</script>
	<script id="detailedIssueTemplate" type="text/template">
		<h1><%= title %></h1>
		<p><%= time %></p>
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=<%= location.lat %>+<%= location.long %>&amp;ie=utf8&amp;z=14&amp;ll=<%= location.lat %>,<%= location.long %>&amp;output=embed"></iframe>
		<p><%= location.coarseLocation %></p>	
	</script>
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="js/json2.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/backbone-min.js"></script>
	<script type="text/javascript" src="js/tracking.js"></script>


{% endblock %}
{% block extra_scripts %}
<script src="http://maps.google.com/maps/api/js?key=AIzaSyCL6FCIh_lcj9RPY-TZ6O08acGrffJvbq8&sensor=false"></script>
<script src="{% static "js/loadmap.js" %}"></script>
{% endblock %}
