{% extends "trackings_basic.html" %}

{% block title %} All trackings {% endblock %}

{% block container %}
<h1>Public Posts.</h1>
<div id="tracking-list">
    {% if trackings %}
    <ul>
        {% for tracking in trackings %}
        <li><a href="{% url tracking:show tracking.id %}"><em>{{ tracking.description }}</em>, {{ tracking.location }}</a></li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if trackings.has_previous %}
            <a href="?page={{ trackings.previous_page_number}}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ trackings.number }} of {{ trackings.paginator.num_pages }} .
            </span>

            {% if trackings.has_next %}
            <a href="?page={{ trackings.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <p> No trackings yet.</p>
    {% endif %}
</div>
{% endblock %}
