{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title> Backbone </title>
    <script id="tracking-list-template" type="text/x-mustache-template">
        <p><% description %>, <% location %></p>
    </script>
    <script id="tracking-detail-template" type="text/x-mustache-template">
        <a id="back" href="#"> All Trackings </a>
        <h2><% description %></h2>
    </script>
</head>
<body>
    <h1> Trackings </h1>
    <div id="tracking-app">
        <ul id="all-trackings">
        </ul>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static "js/underscore-min.js" %}"></script>
    <script src="{% static "js/backbone.js" %}"></script>
    <script src="{% static "js/mustache.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>
